# Ambiente
ASPNETCORE_ENVIRONMENT=Development

# C6
C6__BaseUrl=https://baas-api-sandbox.c6bank.info
C6__TokenUrl=https://baas-api-sandbox.c6bank.info/v1/auth/
C6__ClientId=SEU_CLIENT_ID
C6__ClientSecret=SEU_CLIENT_SECRET

# Certificado mTLS (.pfx)
C6__ClientCertificatePath=C:\caminho\certificado.pfx
C6__ClientCertificatePassword=SUA_SENHA_CERTIFICADO

# Somente para desenvolvimento local, se estritamente necessário
C6__AllowInsecureServerCertificateInDevelopment=false

# Opcional para testes PIX
C6__PixKey=SUA_CHAVE_PIX
